*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.canvas{
    height: 80%;
    width: 80%;
    display: flex;
    margin: auto;

}
.button{
    height: 100px;
    width: 100px;
    display: block;
   margin: auto;
   

}
#white{
    background-color: white ;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color:red;
}
#green{
    background-color: green;
}
h1{
    padding-top: 100px;
    color: bisque;
    text-align: center;
}